{%load static%}

     {% block  body %}
    
     {% include "./navigation.html" %}
     
    <style>
       .mydiv:hover {
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.3)

        }
        

    </style>


    
     <hr>
     
     

     <marquee style="font-size:30px;color:yellow;background-color:black;font-family:Monotype corsiva"><b>!! CONTACT   US !! </b>
    </marquee>
          

        <div class="container mt-5">
            <div class="row mt-5">
                <div class="col mt-3 mydiv"style="font-size:20px;color:blue;font-family:Monotype corsiva">
                    <p > <i class="fa fa-address-book" aria-hidden="true"></i><b>  Contact </b><br>

                     <b> 8606771466 </b></p>  
                   

                   </div>

                   <div class="col mt-3 mydiv"style="font-size:20px;color:blue;font-family:Monotype corsiva">
                    <p > <i class="fa fa-envelope" aria-hidden="true"></i><b>  Email-Id </b><br>

                     <b> bindujagireesh26@gmail.com </b></p>  
                   

                   </div>

                   <div class="col mt-3 mydiv" style="font-size:20px;color:blue;font-family:Monotype corsiva">
                    <p > <i class="fa fa-address-card" aria-hidden="true"></i><b>  Address </b><br>

                     <b> Kalarcode Alappey 688003 </b></p>  
                   

                   </div>

                   <div class="col mt-3 mydiv"style="font-size:20px;color:blue;font-family:Monotype corsiva">
                    <p > <i class="fa-regular fa-clock" aria-hidden="true"></i><b>  Office Time </b><br>
                      
                     <b> 9Am-5Pm </b></p>  
                   

                   </div>

                   <div class="col mt-3 "style="font-size:20px;color:blue;font-family:Monotype corsiva">
                    <img src="{%static './images/img10.jpg' %}" style="height:200px;width:300px">


                   </div>

                  

                  
            </div>


        </div>

     

     {%endblock%}
     
      