{% load static %}

     {% block  body %}
    
     {% include "./admin_navigation.html" %}

     <script type="text/javascript" src="js/bootstrap/bootstrap-dropdown.js"></script>


     <h1 style="font-size:bold;text-align:center;color:green"><u>Pending Recruiters Details </u></h1>
     <hr>

     <table class="table table-hover container">

        <thead>
            <tr style="font-size:bold;background-color:green">
                <th>S.No:</th>
                <th>Full-Name:</th>
                <th>Email-Id:</th>
                <th>Contact:</th>
                <th>Gender:</th>
                <th>Company:</th>
                <th>Country:</th>
                <th>Image:</th>
                <th>Status:</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for i in data %}
            <tr>
                <td> {{ forloop.counter}}</td>
                <td> {{ i.user.first_name}} {{ i.user.last_name}}</td>
                <td> {{ i.user.username}}</td>
                <td> {{ i.mobile}}</td>
                <td> {{ i.gender}}</td>
                <td> {{ i.company}}</td>
                <td> {{ i.country}}</td>
                <td> <img src="{{  i.image.url}}" style="width:70px;height:80px;border-radius:50%"></td>
                <td> {{ i.status}}</td>
                <td><a href="{% url 'change_status' i.id %}" class="btn btn-success btn-extrasmall" >Change Status</a></td> 
                {% empty %}
                <tr><td colspan="10" style="text-align:center">Currently no Data Available</td></tr>
            </tr>
            
             {% endfor %}     
        </tbody>        

     </table>
  
     {% endblock %}